name: CI Dive Check
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Build image
        run: docker build -t bfg-repo-cleaner:temp .
      - name: Dive
        run: docker run -e CI=true -e DOCKER_API_VERSION=1.37 --rm -v /var/run/docker.sock:/var/run/docker.sock --mount type=bind,source=/home/runner/work/docker-bfg-repo-cleaner/docker-bfg-repo-cleaner/.dive-ci.yml,target=/.dive-ci wagoodman/dive:latest bfg-repo-cleaner:temp --ci-config /.dive-ci
